.FormConf {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 10px;
    }

    &--title {
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
      padding-right: 10px;
    }

    .el-button-group {
      width: 100%;

      > .el-button {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }

  &__Collapse {
    .el-collapse-item {
      &__header {
        height: 35px;
        line-height: 35px;
        font-weight: bold;
        padding-left: 10px;
        border-bottom: 1px solid #EBEEF5;
      }

      &__content {
        padding: 10px;
        background-color: #fcfcfc;
      }
    }
  }
}
