$-grid: 5px;
.var-dragGable__grid {
  &--list {
    padding: 2px;
    min-height: 35px;
    border: 1px solid #aaaaaa;

    & + & {
      margin-left: $-grid;
    }
  }

  &--form {
    display: flex;
    align-content: center;
  }

  &--btn {
    display: flex;
    padding-right: 5px;
    align-items: center;

    > div[class^="el-button--"] {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-left: 5px;
      line-height: 24px;
      text-align: center;
      border-radius: 100%;
      transform: scale(0.8);
    }
  }
}